@font-face {
    font-family: "Humming";
    src: url("/ACNH-Critter-Clock/humming.otf"),    /* This one doesn't resolve for some reason, but I'm keeping it just in case. */
         url("/ACNH-Critter-Clock//humming.otf"),   /* This one actually works, but don't ask me why. */
         url("/humming.otf");                       /* For when I'm hosting locally (not on github). */
}

#background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}

#background.sunrise {
    background: rgb(203,95,69);
    background: linear-gradient(180deg, rgba(203,95,69,1) 0%, rgba(243,107,69,1) 50%, rgba(254,198,85,1) 100%);
}

#background.day {
    background: rgb(121,176,255);
    background: linear-gradient(180deg, rgba(121,176,255,1) 0%, rgba(193,244,239,1) 100%); 
}

#background.night {
    background: rgb(31,33,82);
    background: url("img/stars_large.png") center repeat,
                url("img/stars_medium.png") center repeat,
                url("img/stars_small.png") center repeat,
                linear-gradient(180deg, rgba(31,33,82,1) 0%, rgba(51,60,115,1) 100%);
}

#clock-wrapper {
    color: #f7f3e8;
    font-family: Humming;
    text-align: center;
}

#date-wrapper {
    font-size: 2vw;
}

#time-wrapper {
    font-size: 5vw;
    margin-top: -3vw;
}

#page-content-wrapper {
    width: 100vw;
    font-family: "Nunito";
    display: flex;
    justify-content: center;
}

#fish-table-container {
    display: flex;
    justify-content: space-evenly;

    width: 80vw;
    min-width: 900px;
    max-width: 1200px;

    background-color: #ebe1c5;
    padding: 10px 20px;
    border-radius: 7px;
}

hr.vertical {
    height: 100%;
    width: 0;
    border: 1px dashed #d0c29b;
    margin: 5px;
}

.fish-column {
    text-align: center;
    width: 15%;
    max-width: 140px;
}

.column-header {
    margin: 5px;
    color: #8e7a69;
}

.fish-tile {
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px #b3a47cc4);
    border: 5px solid #faf5e1;

    transition: filter 0.15s ease-in, transform 0.15s ease-in;

    cursor: pointer;
}

.fish-tile:hover {
    filter: drop-shadow(0px 6px 5px #b3a47cc4);
    transform: translate3d(0, -5px, 0);
    z-index: 50;
}

.fish-tile::after {
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background-color: #faf5e1;
}

.saltwater-fish-tile::before,
.freshwater-fish-tile::before {
    content: "";
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7c75dc;
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
}

.saltwater-fish-tile:hover::before,
.freshwater-fish-tile:hover::before {
    opacity: 0;
}

.saltwater-fish-tile::before {
    background-color: #7c75dc;
}

.freshwater-fish-tile::before {
    background-color: #8d9bf3;
}

.saltwater-fish-tile {
    background-color: #7c75dc;
    background: repeating-linear-gradient(
        45deg, 
        #7c75dc 25%, 
        #867de0 25%, 
        #867de0 50%, 
        #7c75dc 50%, 
        #7c75dc 75%,
        #867de0 75%
    );
    background-size: 30px 30px;
}

.freshwater-fish-tile {
    background-color: #8d9bf3;
    background: repeating-linear-gradient(
        -45deg, 
        #8d9bf3 25%, 
        #96a4f6 25%, 
        #96a4f6 50%, 
        #8d9bf3 50%, 
        #8d9bf3 75%,
        #96a4f6 75%
    );
    background-size: 30px 30px;
}

@keyframes ne-scroll {
    100%   { background-position: 30px 0;}
}

@keyframes se-scroll {
    to   { background-position: 0 30px;}
}

.saltwater-fish-tile:hover {
    animation: ne-scroll 0.5s linear infinite;
}

.freshwater-fish-tile:hover {
    animation: se-scroll 0.5s linear infinite;
}

.fish-image {
    max-width: 64px;
    width: auto;
    display: inline-block;
    margin: 5px;
    filter: drop-shadow(2px 2px 1px #48484899);
}

.fish-name,
.fish-price,
.fish-location {
    padding: 2px;
    color: #fffbe2;
}

.saltwater-fish-tile .fish-name {
    background-color: #5e62c877;
}

.saltwater-fish-tile .fish-price {
    background-color: #5056ba77;
}

.saltwater-fish-tile .fish-location {
    background-color: #424aac77;
}

.freshwater-fish-tile .fish-name {
    background-color: #7181d677;
}

.freshwater-fish-tile .fish-price {
    background-color: #6374c877;
}

.freshwater-fish-tile .fish-location {
    background-color: #5668ba77;
}


.fish-price::before {
    content: url("img/bells.png");
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: -20px;
}

@media screen and (max-width: 800px) {
    #clock-wrapper {
        display: flex;
        justify-content: center;
    }
    
    #date-wrapper {
        font-size: 5vw;
        margin-right: 3px;
    }
    
    #time-wrapper {
        font-size: 5vw;
        margin-top: 0;
        margin-left: 3px;
    }

    #page-content-wrapper {
        display: block;
    }

    #fish-table-container {
        width: 100%;
    }
}