#fish-table-container {
    display: flex;
    justify-content: space-evenly;

    width: 80vw;
    min-width: 900px;
    max-width: 1200px;

    background-color: #ebe1c5;
    padding: 10px 20px;
    border-radius: 7px;
}

.show-bugs #fish-table-container {
    display: none;
}

.fish-column {
    text-align: center;
    width: 15%;
    max-width: 140px;
}

.column-header {
    margin: 5px;
    color: #8e7a69;
}

.fish-tile {
    margin: 5px;
    margin-top: 10px;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 2px #b3a47cc4);
    border: 5px solid #faf5e1;

    transition: filter 0.15s ease-in, transform 0.15s ease-in;
}

/* Temporarily disable the hover effect because no click event yet. */
/* .fish-tile:hover {
    filter: drop-shadow(0px 6px 5px #b3a47cc4);
    transform: translate3d(0, -5px, 0);
    z-index: 50;
} */

.fish-tile::after {
    content: " ";
    position: absolute;
    top: -5px;
    left: -5px;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background-color: #faf5e1;
}

.saltwater-fish-tile::before,
.freshwater-fish-tile::before {
    content: "";
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7c75dc;
    opacity: 0.3;
    transition: opacity 0.5s ease-in-out;
}

.saltwater-fish-tile:hover::before,
.freshwater-fish-tile:hover::before {
    opacity: 0;
}

.saltwater-fish-tile::before {
    background-color: #7c75dc;
}

.freshwater-fish-tile::before {
    background-color: #8d9bf3;
}

.saltwater-fish-tile {
    background-color: #7c75dc;
    background: repeating-linear-gradient(
        45deg, 
        #7c75dc 25%, 
        #867de0 25%, 
        #867de0 50%, 
        #7c75dc 50%, 
        #7c75dc 75%,
        #867de0 75%
    );
    background-size: 30px 30px;
}

.freshwater-fish-tile {
    background-color: #8d9bf3;
    background: repeating-linear-gradient(
        -45deg, 
        #8d9bf3 25%, 
        #96a4f6 25%, 
        #96a4f6 50%, 
        #8d9bf3 50%, 
        #8d9bf3 75%,
        #96a4f6 75%
    );
    background-size: 30px 30px;
}

@keyframes ne-scroll {
    100%   { background-position: 30px 0;}
}

@keyframes se-scroll {
    to   { background-position: 0 30px;}
}

.saltwater-fish-tile:hover {
    animation: ne-scroll 0.5s linear infinite;
}

.freshwater-fish-tile:hover {
    animation: se-scroll 0.5s linear infinite;
}

.fish-image {
    max-width: 64px;
    width: auto;
    display: inline-block;
    margin: 5px;
    filter: drop-shadow(2px 2px 1px #48484899);
}

.fish-name,
.fish-price,
.fish-location {
    padding: 2px;
    color: #fffbe2;
}

.saltwater-fish-tile .fish-name {
    background-color: #5e62c877;
}

.saltwater-fish-tile .fish-price {
    background-color: #5056ba77;
}

.saltwater-fish-tile .fish-location {
    background-color: #424aac77;
}

.freshwater-fish-tile .fish-name {
    background-color: #7181d677;
}

.freshwater-fish-tile .fish-price {
    background-color: #6374c877;
}

.freshwater-fish-tile .fish-location {
    background-color: #5668ba77;
}


.fish-price::before {
    content: url("../img/bells.png");
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: -20px;
}
